
.React_Log{
    
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    display: inline-flex;
    
    background-color: rgb(136, 136, 136);
}
.Tap{
    margin-top: 40vh;
    width: 30%;
    height: 13%;
    padding: 1vh;
    display: inline-block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.Tap button{
    width: 17%;
    background-color: rgb(85, 111, 194);
    border-radius: 5px;
    padding-top: 1px; padding-bottom: 1px;
}
.React_Input_a{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10px;
}
.React_error{
    color: rgb(221, 85, 75);
    font-size: clamp(16px,2vh,30px);
    display: none;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    align-items: center;
    width: 100%;
    text-align: center;
}